.jumbotron
{
    background-color: royalblue;
    color: white;

}

.card-header
{
    background-color: royalblue;
    font:bolder;
    color: white;
}

.btn
{
    background-color: royalblue;
    color: white;
}

